﻿@{
    ViewBag.Title = "User";
}

<style>
    [data-itable-sorting] {
        cursor: pointer;
    }
</style>

<form id="formtable">
    <br />
    <div class="form-inline">
        <div class="form-group">
            <label>Show</label>
            <select class="form-control input-xs itable-pagesize">
                <option>5</option>
                <option selected>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
                <option>200</option>
                <option>500</option>
                <option>1000</option>
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
    <br />
    <div class="panel panel-default table-responsive">
        <table class="table table-bordered table-nowrap">
            <thead>
                <tr>
                    <th rowspan="2" class="text-middle" style="width:100px;">
                        <a href="#" onclick="isetup.opensetup('CREATE'); return false;" class="text-success"><i class="glyphicon glyphicon-plus"></i></a>
                    </th>
                    <th data-itable-sorting="Id" style="width:100px;">ID <i></i></th>
                    <th data-itable-sorting="Name">Name<i></i></th>
                </tr>
                <tr>
                    <td><input data-itable-filter="Id" type="text" class="form-control input-xs" /></td>
                    <td><input data-itable-filter="Name" type="text" class="form-control input-xs" /></td>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td class="text-middle" style="line-height: 34px;" colspan="100">
                        <span class="itable-info"></span>
                        <ul class="itable-pagination pagination pull-right" style="margin: 0; cursor: pointer;"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</form>

<script>
    var itable;

    document.addEventListener("DOMContentLoaded", function (event) {
        itable = new iTable({
            url: '@Url.Action("List")',
            table: document.getElementById('formtable'),
            orderby: 'Id',
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    var tbody = '';
                    $.each(r.Data, function (index, value) {
                        tbody += '<tr>';
                        tbody += '<td class="text-center">';
                        tbody += '<a href="#" onclick="isetup.opensetup(\'EDIT\',{ id : \'' + value.Id + '\'}); return false;" class="text-warning"><i class="glyphicon glyphicon-pencil"></i></a>';
                        tbody += '&nbsp;';
                        tbody += '<a href="#" onclick="isetup.opensetup(\'DELETE\',{ id : \'' + value.Id + '\'}); return false;" class="text-danger"><i class="glyphicon glyphicon-trash"></i></a>';
                        tbody += '</td>';
                        tbody += '<td>' + value.Id + '</td>';
                        tbody += '<td>' + value.Name + '</td>';
                        tbody += '</tr>';
                    });
                    $(t.table).find('tbody').html(tbody);
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });
        itable.refresh();
    });
</script>
@Html.Partial("Setup")