﻿@using UserIdentity.Helper
@using Newtonsoft.Json

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">User</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="id" />
                        <div class="form-group">
                            <label class="col-md-2 control-label">Email</label>
                            <div class="col-md-10">
                                <input type="email" required name="email" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Username</label>
                            <div class="col-md-10">
                                <input type="text" name="username" required class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Password</label>
                            <div class="col-md-10">
                                <input type="password" name="password" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <div class="table-responsive">
                                    <table id="tablerole" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width:90px;">
                                                    <a href="#" onclick="adddetail(); return false;" class="text-success"><i class="glyphicon glyphicon-plus"></i></a>
                                                </th>
                                                <th>Role</th>
                                            </tr>
                                        </thead>
                                        <tbody class="tbody-detail"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;
                    t['id'].value = r.Data.Id;
                    t['username'].value = r.Data.UserName;
                    t['email'].value = r.Data.Email;

                    var _detail = '';
                    $.each(r.Detail, function (index, value) {
                        _detail += '<tr>';

                        _detail += '<td class="text-center">';
                        _detail += '<a href="#" onclick="removedetail(this); return false;" class="text-danger"><i class="glyphicon glyphicon-trash"></i></a>';
                        _detail += '</td>';

                        _detail += '<td>';
                        _detail += '<select class="form-control">';
                        _detail += roleoptions(value.RoleId);
                        _detail += '</select>';
                        _detail += '</td>';

                        _detail += '</tr>';
                    });
                    $(t).find('#tablerole tbody').html(_detail);

                    $(t['password']).closest('.form-group').addClass('hide');
                    $('#tablerole').removeClass('hide');
                    if (proc === 'EDIT') {
                        $(t['username']).removeAttr('readonly');
                        $(t['email']).removeAttr('readonly');
                    } else {
                        $(t['username']).attr('readonly', 'readonly');
                        $(t['email']).attr('readonly', 'readonly');
                    }
                    isetup.modal.modal();
                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    id : t['id'].value,
                    email : t['email'].value,
                    username : t['username'].value,
                    password : t['password'].value,
                    details : $.map($(t).find('#tablerole tbody tr select'), function (value){ return value.value })
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function ()  {
                var t = isetup.form;
                $(t['username']).removeAttr('readonly');
                $(t['email']).removeAttr('readonly');
                $(t['password']).closest('.form-group').removeClass('hide');
                $('#modalsetup form [name="name"]').focus();
                $('#tablerole').addClass('hide');
            }
        });
    });

    function roleoptions(val) {
        var ls = @(Html.Raw(JsonConvert.SerializeObject(HList.Roles)));
        var r = '';
        $.each(ls, function (index, value) {
            r += '<option ' + (value.Value === val ? 'selected' : '') + ' value="' + value.Value + '">' + value.Text + '</option>';
        });
        return r;
    }

    function adddetail() {
        var _detail = '';
        _detail += '<tr>';
        _detail += '<td class="text-center">';
        _detail += '<a href="#" onclick="removedetail(this); return false;" class="text-danger"><i class="glyphicon glyphicon-trash"></i></a>';
        _detail += '</td>';
        _detail += '<td>';
        _detail += '<select class="form-control">';
        _detail += roleoptions();
        _detail += '</select>';
        _detail += '</td>';
        _detail += '</tr>';
        $('#tablerole tbody').append(_detail);
    }
</script>